PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'contenttypes','0001_initial','2025-07-04 10:03:43.210244');
INSERT INTO django_migrations VALUES(2,'auth','0001_initial','2025-07-04 10:03:43.243707');
INSERT INTO django_migrations VALUES(3,'admin','0001_initial','2025-07-04 10:03:43.267573');
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
INSERT INTO django_admin_log VALUES(1,'1','Shirts',1,'[{"added": {}}]',7,1,'2025-07-04 10:18:37.431140');
INSERT INTO django_admin_log VALUES(2,'2','Pants',1,'[{"added": {}}]',7,1,'2025-07-04 10:18:50.860466');
INSERT INTO django_admin_log VALUES(3,'3','Jackets',1,'[{"added": {}}]',7,1,'2025-07-04 10:18:56.347346');
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'admin','logentry');
INSERT INTO django_content_type VALUES(2,'auth','permission');
INSERT INTO django_content_type VALUES(3,'auth','group');
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO auth_permission VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO auth_permission VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "auth_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "first_name" varchar(150) NOT NULL);
INSERT INTO auth_user VALUES(1,'pbkdf2_sha256$1000000$nHTEd6etxTSj54B9Q6YDRM$lC19OVEcqMM6Nml6dv3ZL5OPDwIJTsHbe9z0Aw1Dqbc=','2025-07-04 10:15:53.536406',1,'axl','','',1,1,'2025-07-04 10:13:55.490573','');
CREATE TABLE IF NOT EXISTS "products_category" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(250) NOT NULL, "slug" varchar(50) NOT NULL UNIQUE);
INSERT INTO products_category VALUES(1,'Shirts','shirts');
INSERT INTO products_category VALUES(2,'Pants','pants');
INSERT INTO products_category VALUES(3,'Jackets','jackets');
CREATE TABLE IF NOT EXISTS "products_product" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(250) NOT NULL, "slug" varchar(250) NOT NULL, "description" text NOT NULL, "price" decimal NOT NULL, "available" bool NOT NULL, "created" datetime NOT NULL, "updated" datetime NOT NULL, "image" varchar(100) NULL, "category_id" bigint NOT NULL REFERENCES "products_category" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO products_product VALUES(1,'Nike Shirt','nike-shirt','Neat and comfy nike shirt.',12,1,'2025-07-05 15:26:15.973668','2025-07-04 10:22:42.214448','products/nike-sb-stripe-t-shirt-midnight-navy-black-white-1.webp',1);
INSERT INTO products_product VALUES(2,'Adidas Jacket','adidas-jacket','You''ve got mad respect for the past. But definitely rooted in the future. Dress for both in this juniors'' track jacket. Go all-in on legit adidas looks with iconic 3-Stripes and a hit of piping. The signature sheen of tricot finishes your OG vibe.',38,1,'2025-07-05 14:58:40.291276','2025-07-05 14:58:40.291276','products/GN8451_01_laydown.avif',3);
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO django_session VALUES('gkpggjaj15m3l0unr3xq0plfuoakd114','.eJxVjDsOwjAQBe_iGlmO418o6TmDtetd4wCypTipEHeHSCmgnZn3XiLCtpa4dV7iTOIsBnH6ZQjpwXUXdId6azK1ui4zyj2Rh-3y2oifl6P9OyjQy3dt9JRTIG-1wlGpwGzZDokcMaI3yG50NgcCBVnngSxMCXYwWjTKefH-APdCOJI:1ubOkz:3dQf0D5KBh_Ia7rwpDUmzJzLoTfH0JsrlegVe9NLqHc','2025-07-28 19:22:33.370674');
INSERT INTO django_session VALUES('o6zoapd209blz3nus7jy9w0lifqk1ygq','eyJjYXJ0X2lkIjoyfQ:1uY5iW:ML-6UKCezXhA5Eiw7vrkuSP-N2e-OP54iAJps023G1o','2025-07-19 16:26:20.890731');
INSERT INTO django_session VALUES('l98f4kmwe35gqq1vtnrboy318lrpn9f4','eyJjYXJ0X2lkIjozfQ:1uY5ic:N7ulerLTvar10ERSA5N2AAVkn9fBHK-FnTn2ZcIADoI','2025-07-19 16:26:26.108065');
CREATE TABLE IF NOT EXISTS "cart_cart" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "created_at" datetime NOT NULL);
INSERT INTO cart_cart VALUES(2,'2025-07-05 16:26:20.876835');
INSERT INTO cart_cart VALUES(3,'2025-07-05 16:26:26.088832');
INSERT INTO cart_cart VALUES(4,'2025-07-05 16:38:07.034895');
CREATE TABLE IF NOT EXISTS "cart_cartitem" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "quantity" bigint unsigned NOT NULL CHECK ("quantity" >= 0), "cart_id" bigint NOT NULL REFERENCES "cart_cart" ("id") DEFERRABLE INITIALLY DEFERRED, "product_id" bigint NOT NULL REFERENCES "products_product" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO cart_cartitem VALUES(38,1,2,1);
CREATE TABLE IF NOT EXISTS "orders_order" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "full_name" varchar(250) NOT NULL, "email" varchar(254) NOT NULL, "address" varchar(250) NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "paid" bool NOT NULL);
INSERT INTO orders_order VALUES(1,'asdasd','asdasd@mail.ru','wall street','2025-07-06 11:13:43.076130','2025-07-06 11:13:43.076130',0);
INSERT INTO orders_order VALUES(2,'asdasd','asdasd@mail.ru','wall street','2025-07-06 11:16:50.997217','2025-07-06 11:16:50.997217',0);
INSERT INTO orders_order VALUES(3,'╨Т╨░╤Б╨╕╨╗╨╕╨╣ ╨в╤А╨░╨║╤В╨╛╤А','traktorist@mail.ru','╨Я╨╛╤В╨╡╤А╤П╨╡╨▓╨║╨░','2025-07-06 11:37:43.467822','2025-07-06 11:37:43.467822',0);
CREATE TABLE IF NOT EXISTS "orders_orderitem" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "price" decimal NOT NULL, "quantity" integer unsigned NOT NULL CHECK ("quantity" >= 0), "order_id" bigint NOT NULL REFERENCES "orders_order" ("id") DEFERRABLE INITIALLY DEFERRED, "product_id" bigint NOT NULL REFERENCES "products_product" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO orders_orderitem VALUES(1,38,3,2,2);
INSERT INTO orders_orderitem VALUES(2,12,2,2,1);
INSERT INTO orders_orderitem VALUES(3,38,1,3,2);
INSERT INTO sqlite_sequence VALUES('django_migrations',21);
INSERT INTO sqlite_sequence VALUES('django_admin_log',6);
INSERT INTO sqlite_sequence VALUES('django_content_type',12);
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_user_groups_user_id_group_id_94350c0c_uniq" ON "auth_user_groups" ("user_id", "group_id");
CREATE INDEX "auth_user_groups_user_id_6a12ed8b" ON "auth_user_groups" ("user_id");
CREATE INDEX "auth_user_groups_group_id_97559544" ON "auth_user_groups" ("group_id");
CREATE UNIQUE INDEX "auth_user_user_permissions_user_id_permission_id_14a6b632_uniq" ON "auth_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "auth_user_user_permissions_user_id_a95ead1b" ON "auth_user_user_permissions" ("user_id");
CREATE INDEX "auth_user_user_permissions_permission_id_1fbb5f2c" ON "auth_user_user_permissions" ("permission_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE INDEX "products_product_slug_70d3148d" ON "products_product" ("slug");
CREATE INDEX "products_product_category_id_9b594869" ON "products_product" ("category_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE INDEX "cart_cartitem_cart_id_370ad265" ON "cart_cartitem" ("cart_id");
CREATE INDEX "cart_cartitem_product_id_b24e265a" ON "cart_cartitem" ("product_id");
CREATE INDEX "orders_orderitem_order_id_fe61a34d" ON "orders_orderitem" ("order_id");
CREATE INDEX "orders_orderitem_product_id_afe4254a" ON "orders_orderitem" ("product_id");
COMMIT;
