{% extends 'base.html' %}

{% block title %}Order Confirmation{% endblock %}

{% block content %}
<div class="mt-4">
    <p class="mb-2">Your order has been placed! Below are the details.</p>
    <p class="mb-2">Order ID: #{{ order.id }}</p>
    <ul>
        {% for item in order.items.all %}
        <li>
            <strong>{{ item.quantity }} x {{ item.product.name }}</strong>
            <br>
            <span>{{ item.price }}</span>
        </li>
        {% endfor %}
    </ul>
    
    <p>Total: ${{order.get_total_cost}}</p>
</div>
{% endblock %}
